.testimonial-wrapper {
  background-color: #242424;
  margin-bottom: 4rem;
  border-top: 2px solid #f37021;

}

.testimonial-wrapper  h2 {
  font-size: 3rem;
  padding: 4rem 4rem;
}

.custom-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: auto;
  margin: 2rem auto;
  color: white;
  background: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
}

.card-image {
  max-width: 300px;
  width: 300px;
  max-height: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image img {
  height: 300px;
  width: 300px;
  object-fit: fit-cover;
  display: block;
  border-radius: 0;
}

.card-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.card-content h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #00ffae;
}

.card-content p {
  font-size: 1rem;
  text-align: left;
}

/* Responsive */
@media (max-width: 768px) {
  .testimonial-wrapper {
    margin-top: 8rem;
  padding: 4rem;
  margin-bottom: 0;
  }
  .testimonial-wrapper  h2 {
    font-size: 5rem;
    padding: 0;
  }
  .custom-card {
    flex-direction: column;
    width: 60%;
    height: auto;
    border-radius: 10px;
  }
  .slick-slide {
    height: 500px;
  }

  .card-image {
    max-width: 100%;
    width: fit-content;
    max-height: 300px;
    height: auto;
    background-color: aliceblue;
  }

  .card-content {
  padding: 2rem;
    text-align: left;
    width: 100%;
  }

  .card-content h3  {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .card-content p {
    font-size: 1.5rem;
  }
}
