.testimonials {
  margin: 4rem 4rem;
  text-align: center;
}

.testimonials h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #f37021;
}

.slick-slider {
  max-width: 1000px;
  margin: 0 auto;
  /* border: 1px solid #f37021; */
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 400px;
  /* border: 1px solid #f37021; */
}

.testimonial-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.testimonial-card {
  background-color: #292929;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.02);
}

.testimonial-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  border: 3px solid #f37021;
}

blockquote {
  font-size: 1.1rem;
  line-height: 1.6;
  font-style: italic;
  margin-bottom: 1rem;
  color: #ddd;
}

.testimonial-name {
  font-weight: bold;
  color: #f37021;
  text-align: right;
}

/* mobile view  */
@media (max-width: 768px) {
  .testimonials {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials h2 {
    font-size: 5rem;
  }

  .testimonial-card {
    width: 90%;
    max-width: 700px;
    height: 500px;
    margin: 1rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .slick-slide {
    height: 700px;
  }

  .testimonial-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  blockquote {
    font-size: 2rem;
    text-align: center;
  }
  
  .testimonial-name {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: right;
  }
}
